<% if current_user %>
  <div align="right">
    Logged in as <%= current_user.email %> |
    <%= link_to "Sign out", destroy_user_session_path,
                            data: { turbo_method: :delete }
    %>
  </div>
<% end %>
