<p style="color: green"><%= notice %></p>

<h1><%= t('faculties.index.title') %></h1>

<div id="faculties">
  <% @faculties.each do |faculty| %>
    <%= render faculty %>
    <p>
      <%= link_to "Show this faculty", faculty %>
    </p>
  <% end %>
</div>

<%= link_to t('faculties.add_new'), new_faculty_path, {class: 'btn btn-primary'} %>
