<%= turbo_frame_tag :user_form do %>
  <p style="color: green"><%= notice %></p>

  <%= render @faculty %>
<% end %>

<div>
  <% if can? :manage, @faculty %>
    <%= link_to "Edit this faculty", edit_faculty_path(@faculty), { class: 'btn btn-primary' } %>
    <%= link_to "Destroy this faculty", @faculty, { data: { turbo_method: :delete }, class: 'btn btn-danger' } %>
  <% end %>
  <p>
    <%= link_to "Back to faculties", faculties_path %>
  </p>
</div>
