<html>
  <head>
    <title>Roda app</title>
    <link rel="stylesheet" href="/bootstrap.css"/>
    <link rel="stylesheet" href="/app.css"/>
  </head>
  <div class="header green justify-content-start">
    <h1>
      <img class="logo" src="/ruby_icon.svg"/>
      TODO App
    </h1>
  </div>
</nav>
  <div class="container-fluid">
    <body>
      <%= yield %>
    </body>
  </div>
</html>
