<% @todo_items.each do |date, group| %>
  <h2 class="mb-3 mt-3"><%= date.strftime('%d.%m.%Y') %></h2>
  <ul class="list-group">
    <% group.each do |item| %>
      <li class="list-group-item <%= item[:is_done] ? 'list-group-item-secondary' : 'list-group-item-info' %>">
        <%= item[:text] %>
        <% if item[:is_done] %>
          <span class="badge green">DONE</span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
</ul>
