@font-face {
  font-family: ClimateCrisis;
  src: url(ClimateCrisis-Regular.ttf);
}
.header {
  color: white;
  font-family: ClimateCrisis;
  padding: 20px;
  margin-bottom: 40px;
}
.logo {
  width: 50px;
  filter: brightness(0) invert(1);
}
.green {
  background-color: #42931e;
}
